@model proiect_ASP_NET.Models.ApplicationUser

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">proiect_ASP_NET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item"> <a class="nav-link text-dark" href="/Home/Index">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link text-dark" href="/Posts/Index/?page=1">Posts</a> </li>
                    <li class="nav-item"> <a class="nav-link text-dark" href="/Categories/Index">Categories</a> </li>
                    @if (ViewBag.AfisareButoane == true)
                    {
                        <li class="nav-item"> <a class="nav-link text-dark" href="/Users/Index">View Users</a> </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.Label("UserName", "User Name", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.UserName)
    <br />

    @Html.Label("Email", "User Email", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.Email)
    <br />

    @Html.Label("PhoneNumber", "Phone number")
    <br />
    @Html.EditorFor(m => m.PhoneNumber)
    <br />

    @Html.Label("FirstName", "Frist Name", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.FirstName)
    <br />

    @Html.Label("LastName", "Last Name", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.LastName)
    <br />

    @Html.Label("SelNewRole", "Select New Role", new { @class = "" })
    <br />
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">Edit User</button>
}