<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">proiect_ASP_NET</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item"> <a class="nav-link text-dark" href="/Home/Index">Home</a> </li>
					<li class="nav-item"> <a class="nav-link text-dark" href="/Posts/Index/?page=1">Posts</a> </li>
					<li class="nav-item"> <a class="nav-link text-dark" href="/Categories/Index">Categories</a> </li>
					@if (ViewBag.AfisareButoane == true)
					{
						<li class="nav-item"> <a class="nav-link text-dark" href="/Users/Index">View Users</a> </li>
					}
				</ul>
				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>
</header>

<br />
<br />

<div class="row">
	@foreach(var user in ViewBag.UsersList)
	{
		<div class="card" style="height:100%; width:100%;">
			<div class="card-body d-flex justify-content-between flex-column">
				<div>
					<p> UserName: @user.UserName </p>
					<p> User Email: @user.Email </p>
					@if(@user.FirstName != null)
					{
						<p> First Name: @user.FirstName </p>
					}
					@if (@user.LastName != null)
					{
						<p> Last Name: @user.LastName </p>
					}
					@if (@user.PhoneNumber!= null)
					{
						<p> Phone Number: @user.PhoneNumber </p>
					}
				</div>
				<div class="d-flex flex-row justify-content-between p-3">
					<div> <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id"> Edit User </a></div>
					<div> <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id"> View User </a></div>
				</div>
			</div>
		</div>
	}
</div>

<br />
<br />